body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: black;
}


@media (min-width:1280px){
    .main-container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        background-image: url(hero-img.jpg);
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tint{
        background-color: rgba(0, 0, 0, 0.695);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 20vw);
        /* margin: auto; */
        position: absolute;
        /* top: 50%; */
        left: 10vw;
        top: 2vw;
        align-items: center;
    }
    
    .eng-btn{
        padding: 8px 20px;
        background-color: black;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    .sign-in{
        padding: 8px 16px;
        background-color: #E50914;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .netflix-btn {
        display: flex;
        gap: 10px;
    }
    .main-content{
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 41vw;
    }
    .main-inputs{
        display: flex;
        gap: .5vw;
    }
    .email{
        width: 66%;
    }
    .get-start{
        width: 36%;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: bold;
       
    }
    .email {
        width:64%;
        background-color: transparent;
        outline: none;
        border: none;
        border: 1px solid #646669;
        border-radius: 6px;
        padding: 1.2vw;
    }
    .main-header{
        font-size: 4vw;
    }
    .main-subheader{
        font-size: 1.4vw;
        font-weight: bold;
    }
    .main-subtext{
        font-size: 1.15vw;
    }
    .bottom-section{
        width: 80vw;
        height: 100vh;
        /* background-color: red; */
        margin: auto;
        margin-top: 40px;
    }
    .trending-card-grp{
        display: flex;
        gap: 3vw;
        width: 77vw;
        overflow: hidden;
        overflow-y: visible;
        overflow-x: hidden;
        counter-reset: rakesh;
        padding-bottom: 30px;
    }
    .trending-card{
        border-radius: 10px;
        min-width: 180px;
        min-height: 252px;
        position: relative;
        
    }
    .trending-card-img{
        width: 100%;
        border-radius: 10px;
        
    }
    
    
    /* .trending-card .trending-card-img::before{ */
    .trending-card::before {
        counter-increment: rakesh;
        content: counter(rakesh);
        color: black;
        font-size: 7vmax;
        position: absolute;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-weight: 700;
        z-index: 100;
        bottom: 0;
        left: -14px;
    }
    
    .more-reason-section{
        color: white;
       
    }
    .reason-card{
        width: 293.8px;
        height: 280.8px;
        background-color: #192043;
        padding: 10px 16px;
        border-radius: 16px;
        position: relative;
        background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,7,56,1) 62%, rgba(4,36,71,1) 100%);
    
    }
    .reason-card-grp{
        display: flex;
        gap: 15px;
        padding-bottom: 30px;
    }
    .reason-header{
        font-weight: 500;
    }
    .reason-card-icon{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .reason-text{
        font-size: 16px;
        color: #AAABB7;
    }
    .faq-section{
        color: white;
        padding-bottom: 30px;
    }
    
    .faq-item{
        background-color: #2D2D2D;
        padding: 25px 20px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .subscribe-section{
        color: white;
        padding-bottom: 30px;
    }
    .subscribe-section-container {
        width: 51vw;
        margin: auto;
        text-align: center;
    }
    .sub-section-inputs {
        display: flex;
        gap: 8px;
    }
    input.sub-email {
        width: 70%;
        padding: 20px 20px;
        background-color: transparent;
        outline: none;
        border: 1px solid #5E5E5E;
    }
    
    button.sub-btn {
        width: 30%;
        padding: 20px 20px;
        color: white;
        background-color: #E50914;
        font-size: 20px;
        border: none;
        border: 1px solid #e50914;
        font-weight: bold;
    }
    
    .footer-section{
        padding-bottom: 40px;
    }
    .footer-menu-container{
        color: white;
    }
    
    .footer-menu-ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-decoration: none;
        list-style: none;
        /* margin-left: 0; */
        padding-left: 0;
        gap: 10px;
        padding-bottom: 30px;
    }
    li.footer-menu-item a {
        color: #B3B3B3;
    }
    .question{
        color: #B3B3B3;
        margin-bottom: 40px;
    }
    .net-india{
        color: #B3B3B3 ;
    }
}

@media (min-width:960px) and (max-width:1279px){
    .main-container{
        width: 100vw;
        height: 100vh;
    }
    .main{
        background-image: url(hero-img.jpg);
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tint{
        background-color: rgba(0, 0, 0, 0.695);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 20vw);
        /* margin: auto; */
        position: absolute;
        /* top: 50%; */
        left: 10vw;
        top: 2vw;
        align-items: center;
    }
    
    .eng-btn{
        padding: 8px 20px;
        background-color: black;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    .sign-in{
        padding: 8px 16px;
        background-color: #E50914;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .netflix-btn {
        display: flex;
        gap: 10px;
    }
    .main-content{
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 50vw;
    }
    .main-inputs{
        display: flex;
        gap: .5vw;
    }
    .email{
        width: 66%;
    }
    .get-start{
        width: 36%;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: bold;
       
    }
    .email {
        width:64%;
        background-color: transparent;
        outline: none;
        border: none;
        border: 1px solid #646669;
        border-radius: 6px;
        padding: 1.2vw;
    }
    .main-header{
        font-size: 4.5vw;
    }
    .main-subheader{
        font-size: 2vw;
        font-weight: bold;
    }
    .main-subtext{
        font-size: 1.5vw;
    }
    .bottom-section{
        width: 80vw;
        height: 100vh;
        /* background-color: red; */
        margin: auto;
        margin-top: 40px;
    }
    .trending-card-grp{
        display: flex;
        gap: 3vw;
        width: 77vw;
        overflow: hidden;
        overflow-y: visible;
        overflow-x: hidden;
        counter-reset: rakesh;
        padding-bottom: 30px;
    }
    .trending-card{
        border-radius: 10px;
        min-width: 140px;
        min-height: 196px;
        position: relative;
        
    }
    .trending-card-img{
        width: 100%;
        border-radius: 10px;
        
    }
    
    
    /* .trending-card .trending-card-img::before{ */
    .trending-card::before {
        counter-increment: rakesh;
        content: counter(rakesh);
        color: black;
        font-size: 7vmax;
        position: absolute;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-weight: 700;
        z-index: 100;
        bottom: 0;
        left: -14px;
    }
    
    .more-reason-section{
        color: white;
       
    }
    .reason-card{
        max-width: 539px;
        min-height: 209px;
        background-color: #192043;
        padding: 10px 16px;
        border-radius: 16px;
        position: relative;
        background: rgb(2, 0, 36);
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(7, 7, 56, 1) 62%, rgba(4, 36, 71, 1) 100%);
    
    }
    .reason-card-grp{
        display: grid;
        gap: 15px;
        padding-bottom: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .reason-header{
        font-weight: 500;
    }
    .reason-card-icon{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .reason-text{
        font-size: 16px;
        color: #AAABB7;
    }
    .faq-section{
        color: white;
        padding-bottom: 30px;
    }
    
    .faq-item{
        background-color: #2D2D2D;
        padding: 25px 20px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .subscribe-section{
        color: white;
        padding-bottom: 30px;
    }
    .subscribe-section-container {
        width: 60vw;
        margin: auto;
        text-align: center;
    }
    .sub-section-inputs {
        display: flex;
        gap: 8px;
    }
    input.sub-email {
        width: 70%;
        padding: 20px 20px;
        background-color: transparent;
        outline: none;
        border: 1px solid #5E5E5E;
    }
    
    button.sub-btn {
        width: 30%;
        padding: 20px 20px;
        color: white;
        background-color: #E50914;
        font-size: 20px;
        border: none;
        border: 1px solid #e50914;
        font-weight: bold;
    }
    
    .footer-section{
        padding-bottom: 40px;
    }
    .footer-menu-container{
        color: white;
    }
    
    .footer-menu-ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-decoration: none;
        list-style: none;
        /* margin-left: 0; */
        padding-left: 0;
        gap: 10px;
        padding-bottom: 30px;
    }
    li.footer-menu-item a {
        color: #B3B3B3;
    }
    .question{
        color: #B3B3B3;
        margin-bottom: 40px;
    }
    .net-india{
        color: #B3B3B3 ;
    }
}

@media (min-width:600px) and (max-width:959px){
    .main-container{
        width: 100vw;
        height: 80vh;
    }
    .main{
        background-image: url(hero-img.jpg);
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tint{
        background-color: rgba(0, 0, 0, 0.695);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 20vw);
        /* margin: auto; */
        position: absolute;
        /* top: 50%; */
        left: 10vw;
        top: 2vw;
        align-items: center;
    }
    img.nav-logo {
        width: 89px;
        height: 24px;
    }
    .eng-btn{
        padding: 8px 20px;
        background-color: black;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    .sign-in{
        padding: 8px 16px;
        background-color: #E50914;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .netflix-btn {
        display: flex;
        gap: 10px;
    }
    .main-content{
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* max-width: 550px; */
        width: 550px;
    }
    .main-inputs{
        display: flex;
        gap: .5vw;
    }
   
    .get-start{
        width: 36%;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
       
    }
    .email {
        width:64%;
        background-color: transparent;
        outline: none;
        border: none;
        border: 1px solid #646669;
        border-radius: 6px;
        padding: 15px;
    }
    .main-header{
        font-size: 40px;
    }
    .main-subheader{
        font-size: 20px;
        font-weight: bold;
    }
    .main-subtext{
        font-size:15px;
    }
    .bottom-section{
        width: 80vw;
        height: 100vh;
        /* background-color: red; */
        margin: auto;
        margin-top: 40px;
    }
    .trending-card-grp{
        display: flex;
        gap: 3vw;
        width: 77vw;
        overflow: hidden;
        overflow-y: visible;
        overflow-x: hidden;
        counter-reset: rakesh;
        padding-bottom: 30px;
    }
    .trending-card{
        border-radius: 10px;
        min-width: 112px;
        min-height: 156px;
        position: relative;
        
    }
    .trending-card-img{
        width: 100%;
        border-radius: 10px;
        
    }
    
    
    /* .trending-card .trending-card-img::before{ */
    .trending-card::before {
        counter-increment: rakesh;
        content: counter(rakesh);
        color: black;
        font-size: 7vmax;
        position: absolute;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-weight: 700;
        z-index: 100;
        bottom: 0;
        left: -14px;
    }
    
    .more-reason-section{
        color: white;
       
    }
    .reason-card{
        max-width: 877.6px;
        min-height: 181.6px;
        background-color: #192043;
        padding: 10px 16px;
        border-radius: 16px;
        position: relative;
        background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,7,56,1) 62%, rgba(4,36,71,1) 100%);
    
    }
    .reason-card-grp{
        display: grid;
        gap: 15px;
        padding-bottom: 30px;
    }
    .reason-header{
        font-weight: 500;
    }
    .reason-card-icon{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .reason-text{
        font-size: 16px;
        color: #AAABB7;
    }
    .faq-section{
        color: white;
        padding-bottom: 30px;
    }
    
    .faq-item{
        background-color: #2D2D2D;
        padding: 25px 20px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .subscribe-section{
        color: white;
        padding-bottom: 30px;
    }
    .subscribe-section-container {
        width: 100%;
        margin: auto;
        /* text-align: center; */
    }
    .sub-section-inputs {
        display: flex;
        gap: 8px;
    }
    input.sub-email {
        width: 70%;
        padding: 20px 20px;
        background-color: transparent;
        outline: none;
        border: 1px solid #5E5E5E;
    }
    
    button.sub-btn {
        width: 30%;
        padding: 20px 20px;
        color: white;
        background-color: #E50914;
        font-size: 14px;
        border: none;
        border: 1px solid #e50914;
        font-weight: 800;
    }
    
    .footer-section{
        padding-bottom: 40px;
    }
    .footer-menu-container{
        color: white;
    }
    
    .footer-menu-ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-decoration: none;
        list-style: none;
        /* margin-left: 0; */
        padding-left: 0;
        gap: 10px;
        padding-bottom: 30px;
    }
    li.footer-menu-item a {
        color: #B3B3B3;
    }
    .question{
        color: #B3B3B3;
        margin-bottom: 40px;
    }
    .net-india{
        color: #B3B3B3 ;
    }
}

@media (max-width:599px){
    .main-container{
        width: 100vw;
        height: 80vh;
    }
    .main{
        background-image: url(hero-img.jpg);
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tint{
        background-color: rgba(0, 0, 0, 0.695);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 20vw);
        /* margin: auto; */
        position: absolute;
        /* top: 50%; */
        left: 10vw;
        top: 2vw;
        align-items: center;
    }
    img.nav-logo {
        width: 89px;
        height: 24px;
    }
    .eng-btn{
        padding: 8px 20px;
        background-color: black;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    .sign-in{
        padding: 8px 16px;
        background-color: #E50914;
        color: white;
        border: none;
        border: 1px solid #5E5F5E;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .netflix-btn {
        display: flex;
        gap: 10px;
    }
    .main-content{
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        /* max-width: 550px; */
        width: 80vw;
    }
    .main-inputs{
        display: flex;
        gap: .5vw;
    }
   
    .get-start{
        width: 36%;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
       
    }
    .email {
        width:64%;
        background-color: transparent;
        outline: none;
        border: none;
        border: 1px solid #646669;
        border-radius: 6px;
        padding: 15px;
    }
    .main-header{
        font-size: 40px;
    }
    .main-subheader{
        font-size: 20px;
        font-weight: bold;
    }
    .main-subtext{
        font-size:15px;
    }
    .bottom-section{
        width: 80vw;
        height: 100vh;
        /* background-color: red; */
        margin: auto;
        margin-top: 40px;
    }
    .trending-card-grp{
        display: flex;
        gap: 3vw;
        width: 77vw;
        overflow: hidden;
        overflow-y: visible;
        overflow-x: hidden;
        counter-reset: rakesh;
        padding-bottom: 30px;
    }
    .trending-card{
        border-radius: 10px;
        min-width: 112px;
        min-height: 156px;
        position: relative;
        
    }
    .trending-card-img{
        width: 100%;
        border-radius: 10px;
        
    }
    
    
    /* .trending-card .trending-card-img::before{ */
    .trending-card::before {
        counter-increment: rakesh;
        content: counter(rakesh);
        color: black;
        font-size: 7vmax;
        position: absolute;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        font-weight: 700;
        z-index: 100;
        bottom: 0;
        left: -14px;
    }
    
    .more-reason-section{
        color: white;
       
    }
    .reason-card{
        max-width: 877.6px;
        min-height: 181.6px;
        background-color: #192043;
        padding: 10px 16px;
        border-radius: 16px;
        position: relative;
        background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,7,56,1) 62%, rgba(4,36,71,1) 100%);
    
    }
    .reason-card-grp{
        display: grid;
        gap: 15px;
        padding-bottom: 30px;
    }
    .reason-header{
        font-weight: 500;
    }
    .reason-card-icon{
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .reason-text{
        font-size: 16px;
        color: #AAABB7;
    }
    .faq-section{
        color: white;
        padding-bottom: 30px;
    }
    
    .faq-item{
        background-color: #2D2D2D;
        padding: 25px 20px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .faq-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .subscribe-section{
        color: white;
        padding-bottom: 30px;
    }
    .subscribe-section-container {
        width: 100%;
        margin: auto;
        /* text-align: center; */
    }
    .sub-section-inputs {
        display: flex;
        gap: 8px;
    }
    input.sub-email {
        width: 70%;
        padding: 15px 20px;
        background-color: transparent;
        outline: none;
        border: 1px solid #5E5E5E;
    }
    
    button.sub-btn {
        width: 30%;
        padding: 15px 20px;
        color: white;
        background-color: #E50914;
        font-size: 10px;
        border: none;
        border: 1px solid #e50914;
        font-weight: 800;
    }
    
    .footer-section{
        padding-bottom: 40px;
    }
    .footer-menu-container{
        color: white;
    }
    
    .footer-menu-ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-decoration: none;
        list-style: none;
        /* margin-left: 0; */
        padding-left: 0;
        gap: 10px;
        padding-bottom: 30px;
    }
    li.footer-menu-item a {
        color: #B3B3B3;
    }
    .question{
        color: #B3B3B3;
        margin-bottom: 40px;
    }
    .net-india{
        color: #B3B3B3 ;
    }
}